<div class="b-box-group mt-3">
  <h6 class="b-box-title">Rating</h6>
  <div class="b-box b-box-p">
    <div class="row">
      <div class="col-6">
        <canvas id="rateChart" width="4" height="1.6" 
          data-data="<%= statistics[:data] %>" 
          data-labels='<%= raw statistics[:labels] %>'
        >
        </canvas>
      </div>
      <div class="col-6">
        <div class="">
          <%= rateable.average_stars %>
        </div>
        <% rateable.ratings.each do |rating| %>
          <div class="">
            <%= rating.rated_user.user_name %>
            <%= rating.star %>
            <%= time_in_words(rating.updated_at, { time: false, date: true }) %>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</div>