<% if current_version.release %>
  <% release = current_version.release %>
  <div class="dropdown show b-header-utils">
    <a class="b-dropdown-toggle-icon" href="#" id="tabReleaseDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-ellipsis-v"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="tabReleaseDropDown">
      <%= link_to edit_db_album_release_path(@album), class: 'dropdown-item' do %>
        <i class="fa fa-pencil"></i>
        <span>発売情報を編集する</span>
      <% end %>
    </div>
  </div>
  
  <div class="b-box-row">
    <table class="b-table">
      <tbody>
        <tr class="d-none">
          <td></td>
        </tr>
        <tr>
          <td>製品番号</td>
          <td><%= release.catalog_number || 'N/A' %></td>
        </tr>
        <tr>
          <td>発売日</td>
          <td><%= release.released_at %></td>
        </tr>
        <tr>
          <td>タイプ</td>
          <td><%= release.format %></td>
        </tr>
        <tr>
          <td>価格</td>
          <td><%= release.cost %></td>
        </tr>
        <tr>
          <td>発売者</td>
          <td>
            <% if release.publisher %>
              <%= link_to(release.publisher.latest_version.name, release.publisher) %>
            <% else %>
              不明
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="p-3">
    発売情報がありません。<%= link_to '作るに行く', new_db_album_release_path(@album) %>
  </div>
<% end %>