<% logs.each do |log| %>
  <div class="b-box-row">
    <div class="b-ellipsis pb-1">
      <%= link_to log.title, log.loggable %>
    </div>
    
    <div class="ellipsis">
      <%= link_to (log.user.user_name || '無名') + 'さん', user_path(log.user) %>
    </div>
    
    <div class="" style="display: flex; justify-content: space-between;">
      <div class="" style="font-size: 0.75rem;">
        <%= log.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
      </div>
      <div class="b-label <%= log.action %>"><%= log.action %></div>
    </div>
  </div>
<% end %>