<%= breadcrumb(
  { name: "ホーム", path: home_path },
  { name: "商品", path: ec_products_path },
  "カート"
) %>

<%= content_for :right_col do %>
  <div class="b-box b-box-p">
    asdsadsad
  </div>
<% end %>

<div class="b-shopping-cart">
  <div class="b-box">
    <div class="b-box-another top">
      <%= render "ec/carts/show/header" %>
    </div>

    <div class="">
      <%= colors_grouped(@cart_color_ids) %>
      <%= render "ec/carts/show/footer" %>
    </div>
  </div>
</div>
