<tr data-toggle="collapse" data-target="#userId<%= user.id %>"
  aria-expanded="false" aria-controls="userId<%= user.id %>"
>
  <td class="b-col-wide">
    <i class="fa fa-angle-right"></i>
    <i class="fa fa-angle-down"></i>
    <span class="px-1"><%= user.id %>.</span>
    <%= country_for(user) %>
    <%= link_to user.email, profile_path(user), class: 'no-propagation b-link-no-color' %>
  </td>

  <td class="b-col-semi-wide">
    <%= user.user_name %>
  </td>

  <td class="b-col-medium text-center">
    <%= user.role %>
  </td>

  <td class="b-col-medium text-center">
    <%= user.activation %>
  </td>

  <td class="b-col-medium text-center">
    <%= user.social_provider %>
  </td>

  <td class="b-col-small b-col-last">
    <div class="b-icon-group b-size-small justify-content-center">
      <%= link_to profile_path(user), method: :delete, class: 'no-propagation' do %>
        <div class="b-icon destroy">
          <i class="fa fa-trash"></i>
        </div>
      <% end %>
      <%= link_to profile_path(user), class: 'no-propagation' do %>
        <div class="b-icon update">
          <i class="fa fa-pencil"></i>
        </div>
      <% end %>
    </div>
  </td>
</tr>

<tr class="collapse b-row-collapse" id="userId<%= user.id %>">
  <td colspan="6" class="px-3 b-font-90">
    <div class="row">
      <div class="col-9 col-md-10 col-lg-9 col-xl-10">
        <strong>本名: </strong>
        <span><%= "#{user.full_name} (#{user.name_pronounce})" %></span>
      </div>

      <div class="col-3 col-md-2 col-lg-3 col-xl-2">
        <div class="b-img-placeholder b-ratio-1_1">
          <div class="b-img-thumb"
            data-background-image="<%= user.avatar_url.to_s %>"
          >
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
