<% if search.results.size > 0 %>
  <div class="<%= class_string('mb-5': search.results.total_pages > 1) %>">
    <% search.each_hit_with_result do |hit, album| %>
      <% latest = album.latest_version %>
      <div class="b-box-row">
        <div class="b-result-title b-ellipsis">
          <%= link_to highlight_result(hit, :title) || album.latest_version.title, 
            db_album_path(album)
          %>
        </div>
        <div class="b-result-related">
          <%= highlight_result(hit, :title_pronounce) || album.latest_version.title_pronounce %>, 
          <%= highlight_result(hit, :title_en) || album.latest_version.title_en %>
        </div>
        <div class="b-result-content">
          <%= album.latest_version.title %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="b-result-pagination">
    <%= paginate search.results %>
  </div>
<% else %>
  <div class="b-box-row">
    結果がありません。
  </div>
<% end %>