<%= breadcrumb(
  { path: home_path, name: 'ホーム' }, 
  { path: db_path, name: 'データベース' },
  '検索'
) %>

<%= page_title("検索", "Search") %>

<div class="b-box">
  <div class="b-box-another top">
    <%= form_tag db_search_path, method: :get, id: 'fullSearchForm', enforce_utf8: false do %>
      <div class="b-search-form-container">
        <div class="b-search-category">
          <%= select_tag :category, 
            options_for_select([%w(アルバム album), %w(タグ tag), %w(スタッフ staff)], selected: params[:category]), 
            { class: 'form-control' } 
          %>
        </div>
        <div class="b-search-input">
          <%= text_field_tag :q, params[:q], class: 'form-control' %>
        </div>
        <div class="b-search-submit">
          <%= button_tag nil, class: '', name: nil do %>
            <i class="fa fa-search"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="b-search-loading" id="searchLoading">
    <div class="b-box-row">
      <div class="b-loading"></div>
    </div>
  </div>
  
  <div class="" id="searchResults">
    <% if @results %>
      <%= raw @results %>
    <% else %>
      <div class="b-box-row">
        検索しましょう...
      </div>
    <% end %>
  </div>
</div>