<%= breadcrumb(
  { path: home_path, name: 'ホーム' },
  "#{@user.user_name || '無名'}さんのプロファイル"
) %>

<%= page_title(
  "#{@user.user_name || '無名'}さんのプロファイル", 
  "#{@user.user_name || '無名'}'s profile"
) %>

<%= content_for :utils_tabs do %>
  <div class="page-utility">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active utility-label" data-toggle="tab" data-target="#information" 
          role="tab" aria-controls="home"
        >
          メイン
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link utility-label" data-toggle="tab" data-target="#statistic" 
          role="tab" aria-controls="profile"
        >
          統計
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link utility-label" data-toggle="tab" data-target="#history" 
          role="tab" aria-controls="profile"
        >
          最近の活動
        </a>
      </li>
    </ul>
  </div>
<% end %>

<div class="b-box-group page-user-detail">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="information" role="tabpanel">
      <h6 class="b-box-title">メイン</h6>
      <div class="b-box b-box-p">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-3 user-avatar-info-container">
            <div class="row">
              <div class="user-avatar">
                <div class="b-img-placeholder b-ratio-1_1 b-img-placeholder-avatar">
                  <div class="b-img-thumb" data-background-image="<%= @user.avatar_url %>">
                    
                  </div>
                </div>
              </div>
              <div class="user-info">
                <div class="user-name b-ellipsis">
                  <span><%= @user.user_name %></span>
                </div>
                <% if @user.name_pronounce.present? %>
                  <div class="b-ruby">
                    <span class="b-rb b-ellipsis">
                      <%= "#{@user.last_name} #{@user.first_name}" %>
                    </span>
                    <span class="b-rt b-ellipsis">
                      <%= @user.name_pronounce %>
                    </span>
                    <span></span>
                  </div>
                <% else %>
                  <div class="">
                    <span><%= "#{@user.last_name} #{@user.first_name}" %></span>
                  </div>
                <% end %>
                <div class="">
                  <i class="fa fa-birthday-cake"></i>
                  <%= Time.now.strftime('%Y年%m月%d日') %>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="line w-100 my-3 d-sm-none">
            
          </div>
          
          <div class="col-sm-8 col-md-9">
            <h6 class="b-box-title">
              紹介
            </h6>
            
            <p class="b-description-text m-0">中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。
              
            部おだざを中講だずンが更聞ヌシマ化幹造ワロ事役ゃのろド式拉ばひ探所アヒ転経37取他チヌモ持音ねうど登去ハ解調エヌコ日3被ナ著業ラと師接ト。
            
            今イラ州該ど観思ツ効萬トラた優今ヱ手6転るか大10社1受れゆんド識済ぞよら以会ナタニモ月一梨転おらさひ信彫慰っざは。</p>
          </div>
        </div>
      </div>
      
      <!-- <div class="b-box-group mt-3">
        <h6 class="b-box-title">
          紹介
        </h6>
        
        <div class="b-box b-box-p">
          <p class="b-description-text m-0">中めてフか民段ヱ善誰ヨ売性ヱヘ子感縦りスク向権コユキタ者康そむ間較け埼骨海ゆ刃間爆げ銘題ぞりゆ。
            
          部おだざを中講だずンが更聞ヌシマ化幹造ワロ事役ゃのろド式拉ばひ探所アヒ転経37取他チヌモ持音ねうど登去ハ解調エヌコ日3被ナ著業ラと師接ト。
          
          今イラ州該ど観思ツ効萬トラた優今ヱ手6転るか大10社1受れゆんド識済ぞよら以会ナタニモ月一梨転おらさひ信彫慰っざは。</p>
        </div>
      </div> -->
      
    </div>
    
    <div class="tab-pane fade" id="statistic" role="tabpanel">
      <h6 class="b-box-title">統計</h6>
      <div class="b-box">
      </div>
    </div>
    
    <div class="tab-pane fade" id="history" role="tabpanel">
      <h6 class="b-box-title">最近の活動</h6>
      <div class="b-box">
      </div>
    </div>
  </div>
</div>