<div id="b-sideNav" class="b-side-nav">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-3 pr-0">
          <div class="b-img-placeholder b-img-placeholder-avatar b-ratio-1_1">
            <div class="b-img-thumb" data-background-image="<%= current_user.avatar %>"></div>
          </div>
        </div>
        <div class="col-9 pl-2">
          <div class="b-ellipsis">
            <%= current_user.user_name %>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <ul class="list-group">
    <h6 class="b-list-group-header">ショップ</h6>

    <%= link_to shop_path do %>
      <li class="list-group-item list-group-item-action <%= current_page?(shop_path) ? 'active' : '' %>">
        <i class="fa fa-fw fa-line-chart"></i>
        全体
      </li>
    <% end %>

    <%= link_to shop_orders_path do %>
      <li class="list-group-item list-group-item-action <%= current_page?(shop_orders_path) ? 'active' : '' %>">
        <i class="fa fa-fw fa-line-chart"></i>
        予約
      </li>
    <% end %>

    <%= link_to shop_products_path do %>
      <li class="list-group-item list-group-item-action <%= current_page?(shop_products_path) ? 'active' : '' %>">
        <i class="fa fa-fw fa-calculator"></i>
        商品管理
      </li>
    <% end %>

    <% if current_page?(shop_product_path(params[:id] || 0)) %>
      <%= link_to shop_product_path(params[:id] || 0) do %>
        <li class="list-group-item list-group-item-action active">
          <i class="fa fa-fw fa-product-hunt"></i>
          商品
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= yield %>
</div>
