<div class="b-box b-box-p">
  <div class="row">
    <div class="col-6 col-sm-5 col-md-4 pr-0">
      <div class="b-img-placeholder b-ratio-1_1">
        <div class="b-img-thumb" 
          data-background-image="<%= @latest.image_url.to_s %>"
        >
        </div>
      </div>
    </div>
    
    <div class="col-sm-7 col-md-8 pt-3 pt-sm-0">
      <table class="b-table b-table-hidden-th">
        <tbody>
          <tr>
            <th class="align-bottom">タイトル</th>
            <td>
              <div class="b-ruby">
                <span class="b-rb b-ellipsis" title="<%= @latest.title %>">
                  <%= @latest.title %>
                </span>
                <span class="b-rt b-ellipsis" title="<%= @latest.title_pronounce %>">
                  <%= @latest.title_pronounce %>
                </span>
                <span></span>
              </div>
            </td>
          </tr>
          <tr>
            <th>ローマ字</th>
            <td>
              <%= @latest.title_en %>
            </td>
          </tr>
          <tr class="b-description">
            <th colspan="2">デスクリプション</th>
          </tr>
          <tr class="b-description">
            <td colspan="2">
              <p class="b-description-text">これはデスクリプションです。</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="b-box mt-3">
  <div class="b-box-another">
    <ul class="nav nav-tabs b-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="discs-tab" data-toggle="tab" href="#discs" 
          role="tab" aria-controls="home" aria-expanded="true" 
        >
          ディスク
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="staffs-tab" data-toggle="tab" href="#staffs" 
          role="tab" aria-controls="staffs"
        >
          スタッフ
        </a>
      </li>
    </ul>
  </div>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="discs" role="tabpanel" aria-labelledby="discs-tab">
      <% if @latest.discs.size > 0 %>
        <% @latest.discs.each do |disc| %>
          <div class="b-box-row">
            <div class="pb-2 d-flex justify-content-between">
              <div class="">
                <span>
                  ディスク
                  <%= disc.number %>
                  <%= "- #{disc.title}" if disc.title.present? %>
                </span>
                <%= link_to edit_db_disc_path(disc) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              </div>
              
              <div class="">
                <%= link_to db_disc_path(disc), method: :delete do %>
                  <i class="fa fa-trash"></i>
                <% end %>
                <%= link_to new_db_disc_song_path(disc) do %>
                  <i class="fa fa-plus"></i>
                <% end %>
              </div>
            </div>
            
            <table class="b-data-table album-track-list">
              <thead>
                <tr>
                  <th class="b-col-id">番号</th>
                  <th class="b-col-wide">曲名</th>
                  <th class="b-col-small b-col-last">長さ</th>
                </tr>
              </thead>
              <tbody>
                <% if disc.songs.size > 0 %>
                  <% disc.songs.each do |_song| %>
                    <% song = _song.latest_version %>
                    <tr data-toggle="collapse" data-target="#songInfo<%= _song.id %>" 
                      aria-expanded="false" aria-controls="songInfo<%= _song.id %>"
                    >
                      <td class="b-col-id">
                        <%= song.number %>
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                      </td>
                      <td class="b-col-wide">
                        <%= link_to song.title, db_song_path(_song), class: 'no-propagation b-link-no-color' %>
                        <%# song.title %>
                      </td>
                      <td class="b-col-small b-col-last"><%= song.length %></td>
                    </tr>
                    <tr class="collapse animated fadeIn b-row-collapse" id="songInfo<%= _song.id %>">
                      <td colspan="3">
                        <div class="d-flex justify-content-end">
                          <%= link_to db_song_path(_song), class: 'b-label create' do %>
                            <i class="fa fa-eye"></i>
                          <% end %>
                          
                          <%= link_to db_song_path(_song), method: :delete, class: 'b-label destroy' do %>
                            <i class="fa fa-trash"></i>
                            消す
                          <% end %>
                          
                          <%= link_to edit_db_song_path(_song), class: 'b-label update' do %>
                            <i class="fa fa-pencil"></i>
                            編集する
                          <% end %>
                        </div>
                        <div class="">
                          This is collapse
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% else %>
        <div class="">
          ディスクがありません。
          <%= link_to '作りに行く', new_db_album_disc_path(@latest.album_id) %>
        </div>
      <% end %>
    </div>
    
    <div class="tab-pane fade" id="staffs" role="tabpanel" aria-labelledby="staffs-tab">
      
    </div>
  </div>
</div>

<div class="b-box-group mt-3">
  <div class="b-box-title">
    ノート
  </div>
  
  <div class="b-box b-box-p">
    <% if @latest.note.present? %>
      <%= @latest.note.html_safe %>
    <% else %>
      <span>何を書いて!</span>
    <% end %>
  </div>
</div>
