<div class="b-box b-box-p">
  <div class="row">
    <div class="col-6 col-sm-5 col-md-4 pr-0">
      <div class="b-img-placeholder b-ratio-1_1">
        <div class="b-img-thumb" 
          data-background-image="<%= current_version.image_url.to_s %>"
        >
        </div>
      </div>
    </div>
    
    <div class="col-sm-7 col-md-8 pt-3 pt-sm-0">
      <table class="b-table b-table-hidden-th">
        <tbody>
          <tr>
            <th class="align-bottom">タイトル</th>
            <td>
              <div class="b-ruby">
                <span class="b-rb b-ellipsis" title="<%= current_version.title %>">
                  <%= current_version.title %>
                </span>
                <span class="b-rt b-ellipsis" title="<%= current_version.title_pronounce %>">
                  <%= current_version.title_pronounce %>
                </span>
                <span></span>
              </div>
            </td>
          </tr>
          <tr>
            <th>ローマ字</th>
            <td>
              <%= current_version.title_en %>
            </td>
          </tr>
          <tr class="b-description">
            <th colspan="2">デスクリプション</th>
          </tr>
          <tr class="b-description">
            <td colspan="2">
              <p class="b-description-text">これはデスクリプションです。</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="b-box mt-3">
  <div class="b-box-another">
    <ul class="nav nav-tabs b-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="discs-tab" data-toggle="tab" href="#discs" 
          role="tab" aria-controls="home" aria-expanded="true" 
        >
          ディスク
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="staffs-tab" data-toggle="tab" href="#staffs" 
          role="tab" aria-controls="staffs"
        >
          スタッフ
        </a>
      </li>
    </ul>
  </div>
  
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="discs" role="tabpanel" aria-labelledby="discs-tab">
      <% if current_version.discs.size > 0 %>
        <% current_version.discs.each do |disc| %>
          <div class="b-box-row">
            <div class="pb-2 d-flex justify-content-between">
              <div class="">
                <span>
                  ディスク
                  <%= disc.number %>
                  <%= "- #{disc.title}" if disc.title.present? %>
                </span>
                <div class="b-icon-inline">
                  <%= link_to edit_db_disc_path(disc) do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                </div>
              </div>
              
              <div class="b-icon-group b-size-small">
                <%= link_to db_disc_path(disc), method: :delete do %>
                  <div class="b-icon destroy">
                    <i class="fa fa-trash"></i>
                  </div>
                <% end %>
                <%= link_to new_db_disc_song_path(disc) do %>
                  <div class="b-icon create">
                    <i class="fa fa-plus"></i>
                  </div>
                <% end %>
              </div>
            </div>
            
            <table class="b-data-table album-track-list">
              <thead>
                <tr>
                  <th class="b-col-id">番号</th>
                  <th class="b-col-wide">曲名</th>
                  <th class="b-col-small b-col-last">長さ</th>
                  <th class="b-col-small b-col-last d-none d-sm-table-cell"></th>
                </tr>
              </thead>
              <tbody>
                <% if disc.songs.size > 0 %>
                  <% disc.songs.each do |song| %>
                    <% song_latest = song.latest_version %>
                    <tr data-toggle="collapse" data-target="#songInfo<%= song.id %>" 
                      aria-expanded="false" aria-controls="songInfo<%= song.id %>"
                    >
                      <td class="b-col-id">
                        <%= song_latest.number %>
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-angle-up"></i>
                      </td>
                      <td class="b-col-wide">
                        <%= link_to song_latest.title, db_song_path(song), class: 'no-propagation b-link-no-color' %>
                        <%# song.title %>
                      </td>
                      <td class="b-col-small b-col-last"><%= song_latest.length %></td>
                      <td class="b-col-small b-col-last d-none d-sm-table-cell">
                        <div class="b-icon-group b-size-small justify-content-center">
                          <%= link_to db_song_path(song), method: :delete do %>
                            <div class="b-icon destroy">
                              <i class="fa fa-trash"></i>
                            </div>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                    <tr class="collapse animated fadeIn b-row-collapse" id="songInfo<%= song.id %>">
                      <td colspan="3">
                        <div class="">
                          Staffs:
                          <% staffs_grouped = song_latest.staffs_group_by_position %>
                          <% if staffs_grouped.present? %>
                            <div class="">
                              <% staffs_grouped.each do |position, staffs| %>
                                <div class="">
                                  <%= position %>
                                </div>
                                <div class="">
                                  <%= staffs.map { |staff| staff.latest_version.person.latest_version.name }.join(',') %>
                                </div>
                              <% end %>
                            </div>
                          <% else %>
                            <div class="">
                              スタッフがいません。
                            </div>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% else %>
        <div class="p-3">
          ディスクがありません。
          <%= link_to '作りに行く', new_db_album_disc_path(current_version.album_id) %>
        </div>
      <% end %>
    </div>
    
    <div class="tab-pane fade" id="staffs" role="tabpanel" aria-labelledby="staffs-tab">
      
    </div>
  </div>
</div>

<div class="b-box-group mt-3">
  <div class="b-box-title">
    ノート
  </div>
  
  <div class="b-box b-box-p">
    <% if current_version.note.present? %>
      <%= current_version.note.html_safe %>
    <% else %>
      <span>何を書いて!</span>
    <% end %>
  </div>
</div>
