<%= breadcrumb(
  { path: home_path, name: 'ホーム' }, 
  { path: db_path, name: 'データベース' },
  { path: db_companies_path, name: 'アルバムリスト' },
  { path: db_company_path(@company), name: @company.latest_version.name },
  "バージョン#{params[:id]}"
) %>

<%= page_title(@company_version.name, @company_version.name_en) %>

<% content_for :options do %>
  <%= render partial: 'components/utils/options', locals: {
    name: 'アルバム',
    edit_path: edit_db_company_path(@company),
    destroy_path: db_company_path(@company),
    history_path: db_company_versions_path(@company)
  } %>
<% end %>

<% if params[:id].to_i != @company.latest_version_id%>
  <div class="alert alert-warning" role="alert">
    <span>これは最終バージョンではありません。</span>
    <%= link_to 'すべてを見る', db_company_versions_path(@company) %>
  </div>
<% else %>
  <div class="alert alert-success" role="alert">
    <span>これは最終バージョンです。</span>
    <%= link_to 'すべてを見る', db_company_versions_path(@company) %>
  </div>
<% end %>

<%= render partial: 'db/shared/company_info/container', locals: { current_version: @company_version } %>