<%= content_for :side_nav do %>
  <%= render layout: 'shop/side_nav' do %>
    <%= render "shop/products/index/filter" %>
  <% end %>
<% end %>

<div class="ec-products-management-search-form">
  <%= form_tag request.query_parameters, method: :get do %>
    <%= hidden_field_tag :max_price, params[:max_price] || Ec::Product::MAX_PRICE %>
    <% params[:types] && params[:types].each do |type| %>
      <%= hidden_field_tag :"types[]", type %>
    <% end %>
    <div class="b-form-control-with-icon">
      <div class="b-form-control-icon">
        <%= button_tag name: nil, class: "b-btn-clear" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      </div>

      <div class="form-group b-form-group">
        <%= text_field_tag :q, params[:q],
          class: 'form-control b-form-control',
          autofocus: true
        %>
      </div>
    </div>
  <% end %>
</div>

<div class="ec-products-management-data-table">
  <%= form_tag destroy_multiple_shop_products_path, method: :delete do %>
    <div class="b-btn-group">
      <%= render "shop/products/index/list_header" %>
    </div>

    <div class="b-box p-3">
      <%= render "shop/products/index/list" %>
    </div>
  <% end %>
</div>

<%#= content_for :modals do %>
  <%#= render partial: 'components/confirm_destroy',
    locals: {
      modal_title: "選択した製品",
      form: true
    }
  %>
<%# end %>
