<%= content_for :side_nav do %>
  <%= render 'shop/side_nav' %>
<% end %>

<%= form_tag destroy_multiple_shop_products_path, method: :delete do %>
  <div class="mt-3">
    <div class="">
      <button type="button" class="b-btn b-btn-raised b-btn-ripple b-bg-create" name="button">
        <i class="fa fa-plus-square-o"></i>
        <span>製品を作る</span>
      </button>

      <button class="b-btn b-btn-raised b-btn-ripple b-bg-destroy" name="button">
        <i class="fa fa-trash"></i>
        <span>製品を消す</span>
      </button>
    </div>
  </div>

  <div class="b-box mt-3 p-3">
    <table class="b-data-table b-table-loading" id="manageShopProducts">
      <thead>
        <tr>
          <th class="b-col-id"></th>
          <th class="b-col-id">ID</th>
          <th class="b-col-wide">製品名</th>
          <th class="b-col-medium">タイプ</th>
        </tr>
      </thead>

      <!-- To fix tr hover make border disappear -->
      <tbody>
        <tr>
          <td class="p-0 m-0"></td>
        </tr>
      </tbody>

      <tbody class="b-tbody-loading">
        <tr>
          <td colspan="4"><div class="b-loading"></div></td>
        </tr>
      </tbody>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="b-col-id">
              <%= check_box_tag :"shop_products[]", 1 %>
            </td>
            <td class="b-col-id">
              <%= product.id %>
            </td>
            <td class="b-col-wide">
              <%= link_to product.name, shop_product_path(product.id), class: 'b-link b-link-no-color' %>
            </td>
            <td class="b-col-medium">
              <%= product.category.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
