<%= content_for :side_nav do %>
  <%= render layout: 'shop/side_nav' do %>
    <%= form_tag request.query_parameters, method: :get, html: {} do %>
      <ul class="list-group">
        <h6 class="b-list-group-header b-flex-space-between">
          <span>Filter</span>
          <%= button_tag 'Apply', name: nil %>
        </h6>

        <h6 class="b-list-group-header">Type</h6>

        <% Ec::Category.selectable.each do |category| %>
          <%= label_tag :"types_#{category.id}", class: 'd-block m-0' do %>
            <li class="list-group-item list-group-item-action">
              <%= check_box_tag :"types[]", category.name,
                params[:types] && params[:types].include?(category.name),
                id: :"types_#{category.id}"
              %>
              <%= category.name %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="list-group">
        <h6 class="b-list-group-header">Price</h6>

        <li class="list-group-item">
          <%= range_field_tag :price, params[:price] || Ec::Product::MAX_PRICE,
            min: Ec::Product::MIN_PRICE, max: Ec::Product::MAX_PRICE,
            class: 'b-form-control-range', 'data-display-at': "#priceRangeValue"
          %>
          <span class="b-form-value-range" id="priceRangeValue">
            <%= params[:price] || Ec::Product::MAX_PRICE %>
          </span>
        </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<%= form_tag destroy_multiple_shop_products_path, method: :delete do %>
  <div class="mt-3">
    <div class="">
      <%= link_to new_shop_product_path, class: 'b-link-no-decoration' do %>
        <button type="button" class="b-btn b-btn-raised b-btn-ripple b-bg-create">
          <i class="fa fa-plus-square-o"></i>
          <span>製品を作る</span>
        </button>
      <% end %>

      <button class="b-btn b-btn-raised b-btn-ripple b-bg-destroy">
        <i class="fa fa-trash"></i>
        <span>製品を消す</span>
      </button>
    </div>
  </div>

  <div class="b-box mt-3 p-3">
    <table class="b-data-table b-table-loading" id="manageShopProducts">
      <thead>
        <tr>
          <th class="b-col-id"></th>
          <th class="b-col-id">ID</th>
          <th class="b-col-wide">製品名</th>
          <th class="b-col-medium">タイプ</th>
        </tr>
      </thead>

      <!-- To fix tr hover make border disappear -->
      <tbody>
        <tr>
          <td class="p-0 m-0"></td>
        </tr>
      </tbody>

      <tbody class="b-tbody-loading">
        <tr>
          <td colspan="4"><div class="b-loading"></div></td>
        </tr>
      </tbody>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td class="b-col-id">
              <%= check_box_tag :"shop_product_ids[]", product.id %>
            </td>
            <td class="b-col-id">
              <%= product.id %>
            </td>
            <td class="b-col-wide">
              <%= link_to product.name, shop_product_path(product.id), class: 'b-link b-link-no-color' %>
            </td>
            <td class="b-col-medium">
              <%= product.category.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%#= content_for :modals do %>
  <%#= render partial: 'components/confirm_destroy',
    locals: {
      modal_title: "選択した製品",
      form: true
    }
  %>
<%# end %>
