<%= content_for :side_nav do %>
  <%= render 'shop/side_nav' %>
<% end %>

<div class="b-box-group">
  <h6 class="b-box-title">
    <span class="b-btn-edit-inline">
      <i class="fa fa-pencil"></i>
    </span>
    <span class="b-btn-edit-txt">店情報</span>
  </h6>

  <div class="b-box p-3">
    <%= render 'shop/products/show/info' %>
  </div>
</div>

<div class="b-box-group mt-3">
  <h6 class="b-box-title">
    <span class="b-btn-edit-inline"
      data-toggle="modal" data-target="#editDiscount"
    >
      <i class="fa fa-pencil"></i>
    </span>
    <span class="b-btn-edit-txt">ディスカウント</span>
  </h6>

  <div class="b-box p-3">
    <%= render 'shop/products/show/discount' %>
  </div>
</div>

<div class="b-box-group mt-3">
  <h6 class="b-box-title">色</h6>

  <%= render 'shop/products/show/colors' %>
</div>


<div class="b-box-group mt-3">
  <h6 class="b-box-title">写真</h6>

  <div class="b-box p-3">
    <%= render 'shop/products/show/slideshow' %>
  </div>
</div>

<%= content_for :modals do %>
  <%= render 'shop/products/show/modals' %>
<% end %>
