<% color = color.decorate %>

<div class="row b-table-row">
  <div class="col-5 b-table-col">
    <%= color.name %>
  </div>

  <div class="col-2 b-table-col">
    <%= session[:cart]["#{color.id}"] %>
  </div>

  <% if action %>
    <div class="col-4 b-table-col">
      <strong>
        <%= color.price_meta(
          discount: true,
          size: 100,
          style: :normal,
          class_names: "b-product-price"
        ) %>
      </strong>
    </div>

    <div class="col-1 text-center b-table-col px-0">
      <%= link_to ec_cart_path(color_id: color.id), method: :delete do %>
        <strong>&times;</strong>
      <% end %>
    </div>
  <% else %>
    <div class="col-5 b-table-col">
      <strong>
        <%= color.price_meta(
          discount: true,
          size: 100,
          style: :normal,
          class_names: "b-product-price"
        ) %>
      </strong>
    </div>
  <% end %>
</div>