<%= breadcrumb(
  { path: home_path, name: 'ホーム' }, 
  { path: 'javascript:void(0)', name: 'データベース' },
  { path: db_people_path, name: 'アルバムリスト' },
  { path: db_person_path(@person), name: @person.latest_version.name },
  '編集履歴'
) %>

<%= page_title("#{@person.latest_version.name}の編集履歴", "#{@person.latest_version.name}'s history") %>

<div class="page-version-list">
  <% @versions.reverse_each do |date, versions| %>
    <div class="b-box mb-3">
      <div class="b-box-another">
        <%= date %>に変更
      </div>
      
      <div class="">
        <% versions.each do |version| %>
          <div class="b-box-row">
            <div class="">
              <%= link_to "バーション#{version.id}", db_person_version_path(@person, version) %>
              <% if version.id == @person.latest_version_id %>
                <span class="b-label ml-2">current</span>
              <% end %>
              <div class="version-utils">
                <% if version.previous_version_id %>
                  <%= link_to version.previous_version_id, 
                    db_person_version_path(@person, version.previous_version_id), 
                    title: "以前のバージョン" 
                  %>
                <% end %>
                
                <%= link_to db_person_version_path(@person, version), method: :put, title: "元に戻す" do %>
                  <i class="fa fa-history"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

