<%= breadcrumb(
  { name: "ホーム", path: home_path },
  "商品"
) %>

<%= content_for :side_nav do %>
  <%= render layout: 'ec/side_nav' do %>
    <%= catemenu_for(params[:category]) %>

    <%= products_filter %>
  <% end%>
<% end %>

<div class="b-box-group">
  <div class="b-box-container">
    <%= render "ec/products/index/list" %>
  </div>

  <% unless @products.last_page? %>
    <div class="">
      <%= render "ec/products/index/paginate" %>
    </div>
  <% end %>
</div>
