<%= breadcrumb(
  { name: "ホーム", path: home_path },
  { name: "商品", path: ec_products_path },
  product.name
) %>

<%= content_for :side_nav do %>
  <%= render layout: 'ec/side_nav' do %>
    <%= catemenu_for(nil) %>
  <% end %>
<% end %>

<%= content_for :right_col do %>
  <div class="b-box-group">
    <h6 class="b-box-title">top_sellers</h6>
    <div class="b-box p-3">
      top_sellers
    </div>
  </div>

  <div class="b-box-group mt-3">
    <h6 class="b-box-title">history</h6>
    <div class="b-box p-3">
      history
    </div>
  </div>
<% end %>

<div class="ec-product-detail">
  <div class="b-box-group">
    <div class="b-box">
      <div class="b-box-another top">
        <%= render "ec/products/show/header" %>
      </div>
      <div class="p-3">
        <%= render "ec/products/show/info" %>
      </div>
    </div>
  </div>

  <div class="b-box-group mt-3">
    <h6 class="b-box-title">写真</h6>
    <div class="b-box p-3">
      <%= render "ec/products/show/slideshow" %>
    </div>
  </div>

  <div class="b-box-group mt-3">
    <h6 class="b-box-title">ディスクリプション</h6>
    <div class="b-box p-3">
      description
    </div>
  </div>

  <%= comments_for(product) %>
</div>
