<div class="row">
  <% @albums.each do |album| %>
    <div class="col-md-6 mb-3">
      <div class="b-box b-box-p h-100">
        <div class="row">
          <div class="col-4 col-md-5">
            <div class="b-img-placeholder b-ratio-1_1">
              <div class="b-img-thumb" data-background-image="<%= album.image_url.to_s %>">
              </div>
            </div>
          </div>
          
          <div class="col-8 col-md-7">
            <div class="" title="<%= album.title_pronounce %>">
              <%= link_to db_album_path(album), { class: 'loz-link' } do %>
                <%= album.title %>
              <% end %>
            </div>
            <div class="">
              <%= album.title_en %>
            </div>
          </div>
        </div>    
      </div>
    </div>
  <% end %>
</div>


<%= paginate @albums %>