<div class="b-row-horizontal-group row">
  <div class="col-sm-4 b-row-horizontal mt-3 mt-sm-0">
    <div class="b-avatar-with-username">
      <div class="b-avatar">
        <div class="b-img-placeholder b-ratio-1_1 b-img-placeholder-avatar">
          <div class="b-img-thumb" data-background-image="<%= product.shop.avatar %>"></div>
        </div>
      </div>

      <div class="b-username">
        <div class="b-ellipsis">
          <%= link_to product.shop.name, ec_shop_path(product.shop),
            class: 'b-link-no-color'
          %>
        </div>
        <div class="b-ellipsis">
          (<%= link_to product.shop.user_name,
            profile_path(product.shop.user),
            class: 'b-link-no-color'
          %>)
        </div>
      </div>
    </div>

    <div class="mt-2">
      <span>Level:</span>
      <i class="fa fa-diamond"></i>
      <span>Diamond</span>
    </div>
  </div>

  <div class="col-sm-4 b-row-horizontal mt-3 mt-sm-0">
    <%= ratings_for @product %>
  </div>

  <div class="col-sm-4 b-row-horizontal mt-3 mt-sm-0">
    <div class="b-rating-inside-star">
      <i class="fa fa-star">
        <span><%= product.average_stars %></span>
      </i>

      <div class="b-rating-description">
        (<%= product.ratings.size %>人)
      </div>
    </div>
  </div>
</div>
