<table class="b-table">
  <tr>
    <th>商品な</th>
    <td><%= product.name %></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td><%= product.category.name %></td>
  </tr>
  <tr>
    <th>色</th>
    <td>
      <%= product.colors.map { |color| color.name }.join(', ') %>
      <ul class="nav nav-tabs" role="tablist">
        <% product.colors.each_with_index do |color, index| %>
          <li class="nav-item">
            <a class="nav-link <%= index == 0 ? 'active' : '' %>" id="colorTab<%= color.id %>" data-toggle="tab"
              data-target="#colorDetail<%= color.id %>" role="tab"
              aria-controls="#colorDetail<%= color.id %>" aria-selected="true"
            >
              <%= color.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>

<div class="">

  <div class="tab-content">
    <% product.colors.each_with_index do |color, index| %>
      <div class="tab-pane fade show <%= index == 0 ? 'active' : '' %>" id="colorDetail<%= color.id %>"
        role="tabpanel" aria-labelledby="colorTab<%= color.id %>"
      >
        <%= color.price %>
        <%= color.status %>
      </div>
    <% end %>
  </div>
</div>
