<table class="b-table">
  <tr>
    <th>商品名</th>
    <td><%= product.name %></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td>
      <%= link_to product.category.name,
        ec_products_path(category: product.category.id),
        class: 'b-link-no-color'
      %>
    </td>
  </tr>
  <tr>
    <th>色</th>
    <td>
      <div class="">
        <ul class="nav nav-tabs ec-product-colors-menu" role="tablist">
          <% product.colors.each_with_index do |color, index| %>
            <li class="nav-item">
              <a class="nav-link <%= index == 0 ? 'active' : '' %>" id="colorTab<%= color.id %>" data-toggle="tab"
                data-target="#colorDetail<%= color.id %>" role="tab"
                aria-controls="#colorDetail<%= color.id %>" aria-selected="true"
              >
                <span class="b-pointer"><%= color.name %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

    </td>
  </tr>
</table>

<div class="tab-content ec-product-colors-tabs">
  <% product.colors.each_with_index do |color, index| %>
    <div class="tab-pane fade show pt-4 pb-2 <%= index == 0 ? 'active' : '' %>" id="colorDetail<%= color.id %>"
      role="tabpanel" aria-labelledby="colorTab<%= color.id %>"
    >
      <div class="row">
        <div class="col-8 col-sm-5">
          <div class="">
            <button class="b-btn b-btn-raised b-btn-ripple w-100 b-bg-black" type="button" name="button">
              <i class="fa fa-fw fa-shopping-cart"></i>
              <span>すぐ買う</span>
            </button>
          </div>

          <div class="mt-2">
            <%= form_tag ec_cart_path, method: :post, class: "b-add-to-card-form" do %>
              <%= hidden_field_tag :product_id, @product.id %>
              <button class="b-btn b-btn-raised b-btn-ripple w-100 b-bg-black" type="submit" name="button" data-disable-html="追加中...">
                <i class="fa fa-fw fa-chevron-right"></i>
                <span>カートに入れる</span>
              </button>
            <% end %>
          </div>
        </div>

        <div class="col-4 col-sm-3 text-right">
          <div class="">
            <%= color.storage.status_icon %>
            <span>在庫数</span>
          </div>

          <div class="b-product-quantity">
            <%= color.storage.quantity %>
          </div>
        </div>

        <div class="col-sm-4 text-right">
          <%= color.price_meta(discount: true) %>
          <div class="pt-2">
            <span class="pr-2">
              <%= product.discount.total_percents %>
            </span>
            <span class="b-font-price-original">
              <%= color.price_meta(style: :normal, strike: true) %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
