<%= breadcrumb(
  { path: home_path, name: 'ホーム' }, 
  { path: 'javascript:void(0)', name: 'データベース' },
  { path: db_albums_path, name: 'アルバムリスト' },
  @latest.title
) %>

<%= page_title(@latest.title, @latest.title_en) %>

<% content_for :options do %>
  <%= render partial: 'components/utils/options', locals: {
    name: 'アルバム',
    edit_path: edit_db_album_path(@album),
    destroy_path: db_album_path(@album),
    history_path: db_album_versions_path(@album)
  } %>
<% end %>

<div class="b-box b-box-p">
  <div class="row">
    <div class="col-6 col-sm-5 col-md-4 pr-0">
      <div class="b-img-placeholder b-ratio-1_1">
        <div class="b-img-thumb" 
          data-background-image="<%= @latest.image_url.to_s %>"
        >
        </div>
      </div>
    </div>
    
    <div class="col-sm-7 col-md-8 pt-3 pt-sm-0">
      <table class="b-table b-table-hidden-th">
        <tbody>
          <tr>
            <th class="align-bottom">タイトル</th>
            <td>
              <div class="b-ruby">
                <span class="b-rb b-ellipsis" title="<%= @latest.title %>">
                  <%= @latest.title %>
                </span>
                <span class="b-rt b-ellipsis" title="<%= @latest.title_pronounce %>">
                  <%= @latest.title_pronounce %>
                </span>
                <span></span>
              </div>
            </td>
          </tr>
          <tr>
            <th>ローマ字</th>
            <td>
              <%= @latest.title_en %>
            </td>
          </tr>
          <tr>
            <th>写真のURL</th>
            <td>
              <%= @latest.image_url %>
            </td>
          </tr>
          <tr class="b-description">
            <th colspan="2">デスクリプション</th>
          </tr>
          <tr class="b-description">
            <td colspan="2">
              <p class="b-description-text">これはデスクリプションです。</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= comments_for(@album, @comments) %>

<% content_for :modals do %>
  <%= render partial: 'components/confirm_destroy', 
    locals: { 
      modal_title: @latest.title,
      destroy_path: db_album_path(@album)
    } 
  %>
<% end %>