<%= breadcrumb(
  { path: home_path, name: 'ホーム' }, 
  { path: 'javascript:void(0)', name: 'データベース' },
  { path: db_albums_path, name: 'アルバムリスト' },
  @latest.title
) %>

<%= page_title(@latest.title, @latest.title_en) %>

<% content_for :options do %>
  <%= render partial: 'components/utils/options', locals: {
    name: 'アルバム',
    edit_path: edit_db_album_path(@album),
    destroy_path: db_album_path(@album),
    history_path: db_album_versions_path(@album)
  } %>
<% end %>

<%= render layout: 'db/shared/album_info/container', locals: { current_version: @latest } do %>
  <div class="b-box-another bottom text-center">
    <% if @album.tags.size > 0 %>
      <div class="b-tag-container justify-content-center">
        <% @album.tags.each do |tag| %>
          <div class="b-tag-item">
            <div class="b-tag"><%= tag.name %></div> 
          </div>
        <% end%>
        
        <div class="b-tag-item" data-toggle="modal" data-target="#addTagModal">
          <div class="b-tag"><i class="fa fa-plus"></i></div>
        </div>
      </div>
    <% else %>
      <a href="#" id="addTagButton" class="b-link-no-decoration"
        data-toggle="modal" data-target="#addTagModal"
      >
        <i class="fa fa-plus"></i>
      </a>
      <span class="pl-2">タグがありません。</span>
    <% end %>
  </div>
<% end %>

<%= comments_for(@album, @comments) %>

<% content_for :modals do %>
  <%= render partial: 'components/confirm_destroy', 
    locals: { 
      modal_title: @latest.title,
      destroy_path: db_album_path(@album)
    } 
  %>
  
  <div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @latest.title %>のタグを追加する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <div class="b-tag-container" id="tagListWillBeSave">
          <% @album.tags.each do |tag| %>
            <div class="b-tag-item mb-2">
              <div class="b-tag b-tag-blue"><%= tag.name %></div> 
            </div>
          <% end%>
        </div>
        
        <%= form_tag(search_db_tags_path, method: :get, remote: true, class: 'b-form px-0 pt-0') do %>
          <div class="row">
            <div class="col-8 col-sm-9 col-md-10">
              <div class="form-group b-form-group m-0">
                <%= text_field_tag :q, '', class: 'form-control', placeholder: 'タグを検索する', require: true %>
                <%= label_tag :q, 'キーワード' %>
              </div>
            </div>
            
            <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-end flex-column">
              <%= submit_tag '検索', class: 'btn-c btn-c-5 btn-c-5-sakura px-2 py-1', 'data-disable-with': '検索中' %>
            </div>
          </div>
        <% end %>
        
        <div class="b-tag-container" id="tagSearchResults">
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        <%= form_tag(db_album_tags_path(@album), method: :post) do %>
          <div class="" id="tagIdsWillBeSave">
            <% @album.tag_ids.each do |tag| %>
              <%= hidden_field_tag :'tag_ids[]', tag, multiple: true %>
            <% end %>
          </div>
          <%= submit_tag '提出', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
