<%= breadcrumb(
  { path: home_path, name: 'ホーム' }, 
  { path: 'javascript:void(0)', name: 'データベース' },
  { path: db_albums_path, name: 'アルバムリスト' },
  @album.title
) %>

<%= page_title(@album.title, @album.title_en) %>

<%= render 'db/albums/show/utils' %>

<div class="b-box b-box-p">
  <div class="row">
    <div class="col-5 col-md-4 pr-0">
      <div class="b-img-placeholder b-ratio-1_1">
        <div class="b-img-thumb" 
          data-background-image="<%= @album.image_url.to_s %>"
        >
        </div>
      </div>
    </div>
    
    <div class="col-7 col-md-8">
      <table class="b-table b-table-hidden-th">
        <tbody>
          <tr>
            <th class="align-bottom">タイトル</th>
            <td>
              <div class="b-ruby">
                <span class="b-rb b-ellipsis" title="<%= @album.title %>">
                  <%= @album.title %>
                </span>
                <span class="b-rt b-ellipsis" title="<%= @album.title_pronounce %>">
                  <%= @album.title_pronounce %>
                </span>
                <span></span>
              </div>
            </td>
          </tr>
          <tr>
            <th>ローマ字</th>
            <td>
              <%= @album.title_en %>
            </td>
          </tr>
          <tr>
            <th>写真のURL</th>
            <td>
              <%= @album.image_url %>
            </td>
          </tr>
          <tr class="b-description">
            <th colspan="2">デスクリプション</th>
          </tr>
          <tr class="b-description">
            <td colspan="2">
              <p class="b-description-text">これはデスクリプションです。</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :modals do %>
  <%= render partial: 'components/confirm_destroy', 
    locals: { 
      modal_title: @album.title,
      destroy_path: db_album_path(@album)
    } 
  %>
<% end %>