<div class="">
  <div class="b-box-row">
    <div class="b-avatar-with-username">
      <div class="b-avatar">
        <div class="b-img-placeholder b-ratio-1_1 b-img-placeholder-avatar">
          <div class="b-img-thumb" data-background-image="<%= shop.avatar %>"></div>
        </div>
      </div>

      <div class="b-username pl-3">
        <div class="b-ellipsis">
          <h4><%= shop.name %></h4>
        </div>
        <div class="b-ellipsis">
          <span>(<%= shop.created_at %>から)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="b-box-row">
    <div class="row b-row-horizontal-group">
      <div class="b-row-horizontal col-5">
        <div class="b-break">
          <i class="fa fa-phone fa-fw"></i>
          <span><%= shop.phone %></span>
        </div>

        <div class="b-break">
          <i class="fa fa-map-marker fa-fw"></i>
          <span><%= shop.address %></span>
        </div>
      </div>
      <div class="b-row-horizontal col-6">
        <div class="b-break">
          <i class="fa fa-envelope fa-fw"></i>
          <span><%= shop.email %></span>
        </div>

        <div class="b-break">
          <i class="fa fa-home fa-fw"></i>
          <span><%= shop.website %></span>
        </div>
      </div>
      <div class="b-row-horizontal col-1 text-right flex-middle">
        <a href data-toggle="collapse" data-target="#shopInfos" aria-expanded="false" aria-controls="shopInfos">
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="collapse" id="shopInfos">
  <div class="b-box-another bottom">
    <div class="">
      <p><%= shop.description %></p>
    </div>

    <div class="">
      map
    </div>
  </div>
</div>
