<nav class="navbar fixed-top navbar-inverse navbar-expand-md
  animated fadeInDown" id="navbar">
  <button class="navbar-toggler left" type="button" data-target="#sidebarSm" id="sidebarSmToggle">
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <%= link_to db_search_path, class: 'navbar-toggler right' do %>
    <i class="fa fa-fw fa-search"></i>
  <% end %>

  <div class="container">
    <%= link_to 'にょろにょろ', home_path, class: 'd-md-none navbar-brand' %>

    <div class="collapse navbar-collapse w-100">
      <div class="-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'ホーム', home_path, { class: 'nav-link' } %>
          </li>
          <li class="nav-item">
            <%= link_to 'EC', ec_path, { class: 'nav-link' } %>
          </li>
          <li class="nav-item">
            <%= link_to 'DB', db_path, { class: 'nav-link' } %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              企業
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">企業について</a>
              <a class="dropdown-item" href="#">利用規約</a>
              <a class="dropdown-item" href="#">連絡情報</a>
              <a class="dropdown-item" href="#">ヘルプ</a>
            </div>
          </li>
        </ul>
        <!-- END navbar left -->

        <%= form_tag db_search_path, method: :get, enforce_utf8: false,
          class: "form-inline search-form", id: 'searchForm' do
        %>
          <div class="input-group search-cate-wrap">
            <%= select_tag :category,
              options_for_select(
                [%w(アルバム album), %w(スタッフ staff), %w(タグ tag)],
                selected: 'album'
              ),
              { class: 'form-control search-cate', id: 'searchCate', required: true }
            %>
          </div>

          <div class="input-group search-query-wrap">
            <%= text_field_tag :q, '', class: 'form-control search-query',
              id: 'searchInput', 'data-cate': '#searchCate',
              'data-result-container': '#searchContainer', autocomplete: :off,
              required: true, placeholder: "検索..."
            %>
            <div class="btn-group">
              <%= button_tag nil, type: :button, class: 'btn btn-clear', id: 'searchClear' do %>
                <i class="fa fa-times"></i>
              <% end %>
              <%= button_tag nil, class: 'btn btn-submit', id: 'searchSubmit', name: nil do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>

            <div class="live-search-results" id="searchContainer">
            </div>
            <div class="clearfix"></div>
          </div>
        <% end %>
      </div>
      <!-- main section -->
      <div class="-user">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to ec_cart_path, class: "nav-link b-cart-info" do %>
                <i class="fa fa-shopping-cart"></i>
                <span class="b-cart-total-products">
                  <%= cart_quantity %>
                </span>
                <div class="b-add-to-cart-message">
                  
                </div>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <%= link_to 'ダッシュボード', admin_dashboard_statistics_path,
                  class: 'dropdown-item' if current_user.is_admin?
                %>
                <%= link_to 'My shop', shop_path,
                  class: 'dropdown-item'
                %>
                <%= link_to 'My List', profile_my_list_path(current_user),
                  class: 'dropdown-item'
                %>
                <%= link_to 'プロファイル', profile_path(current_user.id),
                  class: 'dropdown-item'
                %>
                <%= link_to 'ログアウト', destroy_user_session_path,
                  method: :delete, class: 'dropdown-item'
                %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, { class: 'nav-link' } %>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- user section -->
    </div>
    <!-- END nav collapse -->
  </div>
  <!-- container -->
</nav>

<%= render 'layouts/sidebar_sm' %>
