<aside class="admin-sidebar">
  <div class="b-sidebar-sm-body">
    <ul class="list-group b-list-group top-level list-group-item-action">
      <%= link_to admin_dashboard_statistics_path do %>
        <li class="list-group-item b-list-group-item list-group-item-action top-level">
          <i class="fa fa-th-large"></i>
          ダッシュボード
        </li>
      <% end %>
      <%= link_to admin_albums_list_path do %>
        <li class="list-group-item b-list-group-item list-group-item-action top-level">
          <i class="fa fa-th-large"></i>
          Albums
        </li>
      <% end %>
      <%= link_to admin_albums_list_path do %>
        <li class="list-group-item b-list-group-item list-group-item-action top-level">
          <i class="fa fa-th-large"></i>
          Publishers
        </li>
      <% end %>
      <%= link_to admin_albums_list_path do %>
        <li class="list-group-item b-list-group-item list-group-item-action top-level">
          <i class="fa fa-th-large"></i>
          Staffs
        </li>
      <% end %>
      <%= link_to admin_albums_list_path do %>
        <li class="list-group-item b-list-group-item list-group-item-action top-level">
          <i class="fa fa-th-large"></i>
          Tags
        </li>
      <% end %>
    </ul>
  </div>
</aside>
